body {
    background-color: darkslategray;
    color: bisque;
}

div {
    
    min-height: 50px;
    border: 2px solid burlywood;
    padding: 10px;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
}

li:hover{
    background: slategray;
}

a{
    text-decoration: none;
    color: bisque;
}





.menu {
    width: 20%;
    float: left;
}



.container {
    float: right;
    width: 80%;
    box-sizing: border-box;
}

.content {
    width: 70%;
    float: left;
}










.sidebar{
    width: 30%;
    float: right;
  }

 


.footer {
    clear: both;
}
