body {
    background-color: darkslategray;
    color: bisque;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

div {
    
    min-height: 50px;
    border: 1px solid burlywood;
    padding: 10px;
    box-sizing: border-box;
}

.menu {
    width: 20%;
    float: left;
    height: 100%;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
}

li:hover{
    background: slategray;
}

a{
    text-decoration: none;
    color: bisque;
}


.container {
    float: right;
    width: 80%;
    box-sizing: border-box;
}

.content {
    width: 70%;
    float: left;
}


.sidebar{
    width: 30%;
    float: right;
  }


.footer {
    clear: both;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
}

.signature{
    font-style: italic;
    font-size: 0.8em;
    font-weight: lighter;
}