body {
    background-color: darkslategray;
    color: bisque;
}

div {
    min-height: 50px;
    border: 2px solid burlywood;
    margin: 10px 10px;
}

div:hover{
    background: lightslategray;
}

.column1 {
    width: 200px;
    float: left;
}

.column2 {
    width: 200px;
    float: left;
}

.column3{
    width: 200px;
    float: left;
  }

 
.footer {
    clear: both;
}
