@import "header.scss";
@import "wrapper.scss";

%tomato {
    background-color: tomato;
}

$fz: 15px;

body {
    font-family: sans-serif;
    color: blue;
    font-size: $fz;
    .container {
        border: 2px dashed paleturquoise;
        border-radius: 1px;
        color: palevioletred;
        font-size: 10px;
    }

    a {
        color: lime;
        text-decoration: none;
        &:hover {
            color: rgba(175, 12, 99, 0.863);
            font-size: $fz + 10px;
            content: "ДыкЭтоПермь";
        }
        @extend %tomato;
     
    }
}